/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jul 9, 2014, 10:33:30 PM
    Author     : Josh
*/

/* CSS Document */ 

body {
    font-family: Verdana,  Helvetica, sans-serif;
    font-size: 14px;
    color: white;
    background: black;
}
.vertical_menu {
    float: left;
    width: 120px; //orig: 90px;
    border: 1px solid white;
    background-color: black;
    margin: 5px;
    padding: 5px;
}

.vertical_menu li {
    list-style: none;
    margin: 5px;
}
.vertical_menu li a {
    text-decoration: none;
    color: white;
}
.vertical_menu li a:hover {
    text-decoration: underline;
}

#main {
    margin-left: 165px; //orig 120px;
}

#ad {
    border-bottom: 1px solid white; 
}

